<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cluckr</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/reset.css">
  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>

</head>
    <body>
        <header class="header">
            <div class="branding"><img src="/assets/cluckr-logo" class="logo" width="80px" height="80px"></div>
            <nav class="nav">
              <form action="/clucks/new">
                <div class="menu-item"> <input class="nav-button" type="submit" name="cluck-button" value="Cluck!"></input> </div>
              </form>
              <form action="/login">
                <div class="menu-item"> <input class="nav-button" type="submit" name="login-button" value="Log In"></input> </div>
              </form>
            
            </nav>
          </header>